@charset "UTF-8";
/*1° vamos a llamar a todo lo que sea carpeta utilities*/
/*2° vamos a llamar a la carpeta base*/
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav #toggle, nav label {
  display: none;
}

/*3° vamos a llamar a todo lo del layout*/
header {
  display: flex;
  object-fit: cover;
  background-color: black;
}
header img {
  width: 100px;
  height: 90px;
  object-fit: cover;
}
header nav {
  width: 2000px;
  background-color: black;
}
header nav ul li a {
  color: rgb(248, 252, 255);
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  background-color: black;
}
footer p {
  color: rgb(255, 255, 255);
  list-style: none;
  font-size: 20px;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  margin-left: 20px;
}
footer ul li a {
  text-decoration: none;
  justify-content: space-between;
  color: rgb(224, 234, 243);
}
footer ul li a i {
  margin-right: 8px;
  font-size: 24px;
}

.imagenBackboard img {
  display: flex;
  object-fit: contain;
  width: 100%;
}

.sectionSubtitulo {
  color: rgb(248, 248, 248);
  -webkit-text-stroke: 1px black;
  background-color: rgb(255, 101, 0);
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Passion One", serif;
  font-size: 20px;
}

.sectionHighlights {
  display: flex;
  color: rgb(248, 252, 255);
  -webkit-text-stroke: 1px rgb(11, 4, 4);
  background-color: rgb(255, 101, 0);
  font-family: "Passion One", serif;
}

.Highlights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  gap: 0.625rem;
}

.ultimasNoticias {
  color: rgb(248, 250, 252);
  -webkit-text-stroke: 1px black;
  background-color: rgb(255, 101, 0);
  font-family: "Passion One", serif;
}

.noticias {
  display: flex;
  justify-content: space-between;
}

.partidosDestacados {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  gap: 30px;
}
.partidosDestacados h2 {
  color: rgb(248, 252, 255);
  -webkit-text-stroke: 1px black;
  font-family: "Passion One", serif;
}

.jugadoresMvps {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 300px 300px;
  grid-template-rows: repeat(3, 18.75rem);
  column-gap: 200px;
  row-gap: 20px;
  grid-template-areas: "jalenBrunson carta-Jugadores1 carta-Jugadores2" "jalenBrunson carta-Jugadores3 carta-Jugadores4" "jalenBrunson carta-Jugadores5 carta-Jugadores6";
}
.jugadoresMvps .carta-Jugadores1 {
  grid-area: carta-Jugadores1;
}
.jugadoresMvps .carta-Jugadores2 {
  grid-area: carta-Jugadores2;
}
.jugadoresMvps .carta-Jugadores3 {
  grid-area: carta-Jugadores3;
}
.jugadoresMvps .carta-Jugadores4 {
  grid-area: carta-Jugadores4;
}
.jugadoresMvps .carta-Jugadores5 {
  grid-area: carta-Jugadores5;
}
.jugadoresMvps .carta-Jugadores6 {
  grid-area: carta-Jugadores6;
}
.jugadoresMvps .jalenBrunson {
  grid-area: jalenBrunson;
}

body {
  background-color: rgb(255, 101, 0);
}

/*4° vamos a llamar a los components*/
.barraBusqueda {
  display: flex;
  flex-direction: row;
  padding: 30px;
  height: 50px;
  list-style: none;
  font-family: "Passion One", serif;
}
.barraBusqueda ul {
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.barraBusqueda ul li a:hover {
  background-color: gray;
}

.barraBusquedaEquipos {
  display: flex;
  flex-direction: row;
  padding: 30px;
  height: 50px;
  list-style: none;
  font-family: "Passion One", serif;
}
.barraBusquedaEquipos ul {
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.barraBusquedaEquipos ul li a:hover {
  background-color: gray;
}

.barraBusquedaJugadores {
  display: flex;
  flex-direction: row;
  padding: 30px;
  height: 50px;
  list-style: none;
  font-family: "Passion One", serif;
}
.barraBusquedaJugadores ul {
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.barraBusquedaJugadores ul li a:hover {
  background-color: gray;
}

.barraBusquedaResultados {
  display: flex;
  flex-direction: row;
  padding: 30px;
  height: 50px;
  list-style: none;
  font-family: "Passion One", serif;
}
.barraBusquedaResultados ul {
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.barraBusquedaResultados ul li a:hover {
  background-color: gray;
}

.barraBusquedaLigaArg {
  display: flex;
  flex-direction: row;
  padding: 30px;
  height: 50px;
  list-style: none;
  font-family: "Passion One", serif;
}
.barraBusquedaLigaArg ul {
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.barraBusquedaLigaArg ul li a:hover {
  background-color: gray;
}

.sectionTitulo {
  color: rgb(233, 237, 240);
  font-size: 40px;
  -webkit-text-stroke: 1px rgb(255, 101, 0);
  background-color: black;
  font-family: "Passion One", serif;
}

.tituloEquipos {
  font-size: 40px;
  color: rgb(248, 252, 255);
  -webkit-text-stroke: 1px rgb(255, 101, 0);
  font-family: "Passion One", serif;
}

.tituloJugadores {
  font-size: 40px;
  color: rgb(247, 251, 255);
  -webkit-text-stroke: 1px rgb(255, 101, 0);
  height: 40px;
  font-family: "Passion One", serif;
}

.tituloArg {
  font-size: 40px;
  color: rgb(248, 252, 255);
  -webkit-text-stroke: 1px rgb(255, 101, 0);
  font-family: "Passion One", serif;
}

.tituloResultados {
  font-size: 40px;
  color: rgb(248, 252, 255);
  -webkit-text-stroke: 1px rgb(255, 101, 0);
  font-family: "Passion One", serif;
}

.ligaArg {
  color: rgb(248, 252, 255);
  -webkit-text-stroke: 1px black;
  font-family: "Passion One", serif;
  margin-left: 10px;
}

.buscarJugadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70px;
  background-color: rgb(30, 62, 98);
  color: gray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  color: gray;
  margin-left: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
}

.buscarEquipos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70px;
  background-color: rgb(30, 62, 98);
  color: gray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  list-style: none;
}

.buscarEquiposArg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70px;
  background-color: rgb(30, 62, 98);
  color: gray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  color: gray;
  justify-content: first baseline;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  list-style: none;
}

.carta-Jugadores1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  list-style: decimal;
  list-style-position: inside;
  background-color: darkgray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 131, 157) 41%, rgb(250, 250, 252) 100%);
}
.carta-Jugadores1:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.3);
}
.carta-Jugadores1 img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.carta-Jugadores1 h3 {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.carta-Jugadores2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  list-style: decimal;
  list-style-position: inside;
  background-color: darkgray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 131, 157) 41%, rgb(250, 250, 252) 100%);
}
.carta-Jugadores2:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.3);
}
.carta-Jugadores2 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.carta-Jugadores2 h3 {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.carta-Jugadores3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  list-style: decimal;
  list-style-position: inside;
  background-color: darkgray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 131, 157) 41%, rgb(250, 250, 252) 100%);
}
.carta-Jugadores3:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.3);
}
.carta-Jugadores3 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.carta-Jugadores3 h3 {
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.carta-Jugadores4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  list-style: decimal;
  list-style-position: inside;
  background-color: darkgray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 131, 157) 41%, rgb(250, 250, 252) 100%);
}
.carta-Jugadores4:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.3);
}
.carta-Jugadores4 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.carta-Jugadores4 h3 {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.carta-Jugadores5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  list-style: decimal;
  list-style-position: inside;
  background-color: darkgray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 131, 157) 41%, rgb(250, 250, 252) 100%);
}
.carta-Jugadores5:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.3);
}
.carta-Jugadores5 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.carta-Jugadores5 h3 {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.carta-Jugadores6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  list-style: decimal;
  list-style-position: inside;
  background-color: darkgray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
  background: rgb(2, 0, 36);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(132, 131, 157) 41%, rgb(250, 250, 252) 100%);
}
.carta-Jugadores6:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.3);
}
.carta-Jugadores6 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.carta-Jugadores6 h3 {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.imagenEquipos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}
.imagenEquipos img {
  border-radius: none;
}
.imagenEquipos img:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.1);
}

.imagenResultados {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 500px;
}
.imagenResultados img {
  display: flex;
  width: 600px;
  justify-content: center;
  margin-top: 30px;
  box-shadow: 4px 4px 4px 5px black;
}
.imagenResultados img:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.1);
}

.partidosDestacados img {
  display: flex;
  object-fit: contain;
  font-size: larger;
}

.equiposLigaArg img {
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 900px;
  height: 900px;
}
.equiposLigaArg img:hover {
  filter: drop-shadow(2px 2px 5px blue);
  transform: scale(1.1);
}

.partidosDestacados iframe {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.Calendario article {
  margin-top: 20px;
  margin-left: 600px;
}
.Calendario article input {
  background-color: gray;
  width: 100px;
  height: 40px;
}
.Calendario article h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70px;
  background-color: rgb(30, 62, 98);
  color: gray;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px black;
}

/*5° vamos a llamar a todo lo que sea mediaquery*/
@media (max-width: 1440px) {
  .barraBusqueda li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .sectionHighlights {
    display: flex;
    flex-direction: column;
  }
  .sectionHighlights h2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .Highlights iframe {
    display: flex;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: row;
  }
  .barraBusquedaEquipos li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .barraBusquedaJugadores li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .buscarJugadores {
    display: flex;
    justify-content: start;
    margin-left: 80px;
  }
  .jugadoresMvps { /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns: 50% 200px 200px;
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas: "jalenBrunson carta-Jugadores1 carta-Jugadores2" "jalenBrunson carta-Jugadores3 carta-Jugadores4" "jalen Brunson carta-Jugadores5 carta-Jugadores6";
    column-gap: 200px;
    row-gap: 100px;
    margin-left: 30px;
  }
  .jalenBrunson img {
    object-fit: contain;
    height: 1000px;
    width: 700px;
  }
  .barraBusquedaLigaArg li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .barraBusquedaResultados li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .Calendario article {
    margin-top: 20px;
    margin-left: 100px;
  }
  .Calendario input {
    background-color: gray;
    width: 100px;
    height: 40px;
  }
  .Calendario h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 70px;
    background-color: rgb(30, 62, 98);
    color: gray;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px black;
  }
  .imagenResultados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
  .imagenResultados img {
    width: 600px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 5px black;
  }
}
.partidosDestacados img {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.partidosDestacados iframe {
  width: 1000px;
}

.equiposLigaArg img {
  align-items: center;
  width: 200px;
}

.noticias {
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}
.noticias iframe {
  width: 900px;
}

.imagenEquipos img {
  object-fit: cover;
  width: 1000px;
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .barraBusqueda li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .sectionHighlights {
    display: flex;
    flex-direction: column;
  }
  .sectionHighlights h2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .Highlights iframe {
    display: flex;
    height: 200px;
    width: 300px;
    justify-content: start;
    flex-direction: column;
  }
  .barraBusquedaEquipos li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .barraBusquedaJugadores li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .buscarJugadores {
    display: flex;
    justify-content: start;
    margin-left: 80px;
  }
  .jugadoresMvps { /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns: 30% 100px 100px;
    grid-template-rows: repeat(3, 18.75rem);
    column-gap: 200px;
    row-gap: 100px;
    margin-left: 30px;
    grid-template-areas: "jalenBrunson carta-Jugadores1 carta-Jugadores2" "jalenBrunson carta-Jugadores3 carta-Jugadores4" "jalen Brunson carta-Jugadores5 carta-Jugadores6";
  }
  .jalenBrunson img {
    object-fit: cover;
    height: 900px;
    width: 400px;
  }
  .barraBusquedaLigaArg li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .noticias {
    display: flex;
    flex-direction: column;
  }
  .barraBusquedaResultados li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .partidosDestacados {
    display: flex;
    flex-direction: column;
  }
  .Calendario article {
    margin-top: 20px;
    margin-left: 100px;
  }
  .Calendario input {
    background-color: gray;
    width: 100px;
    height: 40px;
  }
  .Calendario h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 70px;
    background-color: rgb(30, 62, 98);
    color: gray;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px black;
  }
  .imagenResultados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  .imagenResultados img {
    display: flex;
    width: 550px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 5px black;
  }
}
.equiposLigaArg {
  margin-left: 150px;
}
.equiposLigaArg img {
  align-items: center;
  width: 1000px;
}

@media (max-width: 768px) {
  header i {
    color: aliceblue;
  }
  header nav .menu {
    width: 100%;
    overflow: hidden;
    height: 0;
  }
  header nav label {
    display: inline-flex;
    cursor: pointer;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .barraBusqueda li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .sectionHighlights {
    display: flex;
    flex-direction: column;
  }
  .sectionHighlights h2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .Highlights {
    display: flex;
    flex-direction: column;
  }
  .Highlights iframe {
    height: 200px;
    width: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
  }
  .barraBusquedaEquipos li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .barraBusquedaJugadores li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .buscarJugadores {
    display: flex;
    justify-content: start;
    margin-left: 80px;
  }
  .jugadoresMvps { /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas: "carta-Jugadores1 carta-Jugadores2" "carta-Jugadores3 carta-Jugadores4" "carta-Jugadores5 carta-Jugadores6";
    column-gap: 200px;
    row-gap: 100px;
    margin-left: 30px;
  }
  .jugadoresMvps .carta-Jugadores1:hover {
    filter: none;
    transform: none;
  }
  .jugadoresMvps .carta-Jugadores3:hover {
    filter: none;
    transform: none;
  }
  .jugadoresMvps .carta-Jugadores5:hover {
    filter: none;
    transform: none;
  }
  .jalenBrunson img {
    height: 1px;
    width: 1px;
  }
  .barraBusquedaLigaArg li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .noticias {
    display: flex;
    flex-direction: column;
  }
  .barraBusquedaResultados li a {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
  }
  .partidosDestacados {
    display: flex;
    flex-direction: column;
  }
  .Calendario article {
    margin-top: 20px;
    margin-left: 10px;
  }
  .Calendario input {
    background-color: gray;
    width: 100px;
    height: 40px;
  }
  .Calendario h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70px;
    background-color: rgb(30, 62, 98);
    color: gray;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px black;
  }
  .imagenResultados {
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .imagenResultados img {
    display: flex;
    width: 390px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 5px black;
  }
}
.equiposLigaArg {
  margin-left: 50px;
}
.equiposLigaArg img {
  align-items: center;
  width: 700px;
}

.imagenEquipos:hover {
  filter: none;
  transform: none;
}
.imagenEquipos img {
  align-items: center;
  width: 900px;
}

@media (max-width: 425px) {
  header {
    display: flex;
    width: 600px;
  }
  header i {
    color: aliceblue;
  }
  header a {
    width: 0px;
    height: 0px;
  }
  header img {
    width: 0px;
    height: 0px;
  }
  header nav .menu {
    width: 100%;
    overflow: hidden;
    height: 0;
  }
  header nav label {
    display: inline-flex;
    cursor: pointer;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .sectionTitulo {
    color: rgb(233, 237, 240);
    font-size: 20px;
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    background-color: black;
    font-family: "Passion One", serif;
  }
  .tituloEquipos {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .tituloJugadores {
    font-size: 20px;
    color: rgb(247, 251, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    height: 40px;
    font-family: "Passion One", serif;
  }
  .tituloArg {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .tituloResultados {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .barraBusqueda {
    width: 600px;
  }
  .barraBusqueda li a {
    width: 60px;
    gap: 5px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .barraBusquedaJugadores {
    width: 600px;
  }
  .barraBusquedaJugadores li a {
    width: 60px;
    gap: 5px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .jugadoresMvps { /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas: "carta-Jugadores1" "carta-Jugadores2" "carta-Jugadores3" "carta-Jugadores4" "carta-Jugadores5" "carta-Jugadores6";
    column-gap: 150px;
    margin-left: 70px;
  }
  .barraBusquedaEquipos {
    width: 600px;
  }
  .barraBusquedaEquipos li a {
    width: 48px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .buscarEquiposArg {
    display: flex;
    justify-content: start;
    font-size: 10px;
    margin-left: 0px;
  }
  .buscarEquipos {
    display: flex;
    justify-content: start;
    font-size: 10px;
  }
  .buscarJugadores {
    display: flex;
    justify-content: start;
    font-size: 10px;
    margin-left: 0px;
  }
  .imagenEquipos img {
    height: 400px;
    width: 390px;
    object-fit: contain;
    margin-bottom: 35px;
  }
  .barraBusquedaLigaArg {
    width: 600px;
  }
  .barraBusquedaLigaArg li a {
    width: 48px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .noticias iframe {
    height: 150px;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .barraBusquedaResultados {
    width: 600px;
  }
  .barraBusquedaResultados li a {
    width: 48px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .Calendario article {
    margin-top: 20px;
    margin-left: 20px;
  }
  .Calendario article h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: rgb(30, 62, 98);
    color: gray;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px black;
  }
  .Calendario article input {
    background-color: gray;
    width: 100px;
    height: 40px;
  }
  .imagenResultados {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .imagenResultados img {
    display: flex;
    width: 340px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 5px black;
  }
  .imagenBackboard img {
    width: 600px;
    object-fit: contain;
  }
  .sectionSubtitulo h2 {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sectionSubtitulo p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .sectionHighlights h2 {
    display: flex;
    width: 30px;
    margin-bottom: 40px;
  }
  .Highlights {
    display: flex;
    flex-direction: column;
  }
  .Highlights iframe {
    height: 150px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .equiposLigaArg {
    margin-left: 10px;
  }
  .equiposLigaArg img {
    object-fit: contain;
    width: 400px;
    height: 600px;
  }
  .partidosDestacados img {
    width: 400px;
    margin-left: 10px;
  }
  .partidosDestacados iframe {
    width: 400px;
    margin-left: 10px;
  }
}
@media (max-width: 375px) {
  header i {
    color: aliceblue;
  }
  header a {
    width: 0px;
    height: 0px;
  }
  header img {
    width: 0px;
    height: 0px;
  }
  header nav .menu {
    width: 100%;
    overflow: hidden;
    height: 0;
  }
  header nav label {
    display: inline-flex;
    cursor: pointer;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .sectionTitulo {
    color: rgb(233, 237, 240);
    font-size: 14px;
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    background-color: black;
    font-family: "Passion One", serif;
  }
  .tituloEquipos {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .tituloJugadores {
    font-size: 20px;
    color: rgb(247, 251, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    height: 40px;
    font-family: "Passion One", serif;
  }
  .tituloArg {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .tituloResultados {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .barraBusqueda {
    width: 600px;
  }
  .barraBusqueda {
    width: 600px;
  }
  .barraBusqueda li a {
    width: 60px;
    gap: 5px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .barraBusquedaJugadores {
    width: 600px;
  }
  .barraBusquedaJugadores li a {
    width: 60px;
    gap: 5px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .buscarJugadores {
    display: flex;
    justify-content: start;
    margin-left: 2px;
  }
  .jugadoresMvps { /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas: "carta-Jugadores1" "carta-Jugadores2" "carta-Jugadores3" "carta-Jugadores4" "carta-Jugadores5" "carta-Jugadores6";
    column-gap: 150px;
    margin-left: 70px;
  }
  .barraBusquedaEquipos {
    width: 600px;
  }
  .barraBusquedaEquipos li a {
    width: 48px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .buscarEquiposArg {
    display: flex;
    justify-content: start;
    font-size: 10px;
    margin-left: 0px;
  }
  .buscarEquipos {
    display: flex;
    justify-content: start;
    font-size: 10px;
  }
  .buscarJugadores {
    display: flex;
    justify-content: start;
    font-size: 10px;
    margin-left: 0px;
  }
  .buscarJugadores input {
    display: flex;
    width: 90px;
    justify-content: start;
    margin-left: 2px;
  }
  .imagenEquipos img {
    height: 400px;
    width: 390px;
    object-fit: contain;
    margin-bottom: 120px;
  }
  .equiposLigaArg {
    margin-left: 0px;
  }
  .equiposLigaArg img {
    object-fit: contain;
    width: 400px;
    height: 600px;
  }
  .barraBusquedaLigaArg {
    width: 600px;
  }
  .barraBusquedaLigaArg li a {
    width: 48px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .noticias iframe {
    height: 150px;
    width: 450px;
    margin-top: 20px;
  }
  .barraBusquedaResultados {
    width: 600px;
  }
  .barraBusquedaResultados li a {
    width: 48px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .Calendario article {
    margin-top: 20px;
    margin-left: 10px;
  }
  .Calendario input {
    background-color: gray;
    width: 100px;
    height: 40px;
  }
  .Calendario h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 70px;
    background-color: rgb(30, 62, 98);
    color: gray;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px black;
  }
  .imagenResultados {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .imagenResultados img {
    display: flex;
    width: 340px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 5px black;
  }
  .imagenBackboard img {
    width: 600px;
    object-fit: contain;
  }
  .sectionSubtitulo h2 {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sectionSubtitulo p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .sectionHighlights h2 {
    display: flex;
    width: 30px;
    margin-bottom: 40px;
  }
  .Highlights {
    display: flex;
    flex-direction: column;
  }
  .Highlights iframe {
    height: 150px;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  footer {
    margin-top: 80px;
    width: 600px;
  }
}
@media (max-width: 320px) {
  header i {
    color: aliceblue;
  }
  header a {
    width: 0px;
    height: 0px;
  }
  header img {
    width: 0px;
    height: 0px;
  }
  header nav .menu {
    width: 100%;
    overflow: hidden;
    height: 0;
  }
  header nav label {
    display: inline-flex;
    cursor: pointer;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .sectionTitulo {
    color: rgb(233, 237, 240);
    font-size: 20px;
    width: 105px;
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    background-color: black;
    font-family: "Passion One", serif;
  }
  .tituloEquipos {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .tituloJugadores {
    font-size: 20px;
    color: rgb(247, 251, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    height: 40px;
    font-family: "Passion One", serif;
  }
  .tituloArg {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .tituloResultados {
    font-size: 20px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    font-family: "Passion One", serif;
  }
  .barraBusqueda {
    width: 600px;
  }
  .barraBusqueda li a {
    width: 45px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .barraBusquedaJugadores {
    width: 600px;
  }
  .barraBusquedaJugadores li a {
    width: 60px;
    gap: 5px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .buscarJugadores input {
    display: flex;
    width: 90px;
    justify-content: start;
    margin-left: 2px;
  }
  .jugadoresMvps { /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas: "carta-Jugadores1" "carta-Jugadores2" "carta-Jugadores3" "carta-Jugadores4" "carta-Jugadores5" "carta-Jugadores6";
    column-gap: 150px;
    margin-left: 70px;
  }
  .barraBusquedaEquipos {
    width: 600px;
  }
  .barraBusquedaEquipos li a {
    width: 45px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .buscarEquipos input {
    display: flex;
    justify-content: start;
    width: 150px;
  }
  .imagenEquipos img {
    height: 600px;
    width: 400px;
    object-fit: contain;
    margin-bottom: 40px;
    margin-left: 45px;
  }
  .barraBusquedaLigaArg {
    width: 600px;
  }
  .barraBusquedaLigaArg li a {
    width: 45px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .equiposLigaArg img {
    width: 320px;
    height: 600px;
  }
  .noticias iframe {
    height: 180px;
    width: 300px;
    margin-bottom: 80px;
  }
  .barraBusquedaResultados {
    display: flex;
    flex-direction: row;
    width: 600px;
  }
  .barraBusquedaResultados li a {
    width: 45px;
    gap: 9px;
    margin-left: 1px;
    font-size: 10px;
    overflow: hidden;
  }
  .Calendario article {
    margin-top: 20px;
    margin-left: 10px;
  }
  .Calendario article input {
    background-color: gray;
    width: 100px;
    height: 40px;
  }
  .Calendario article h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: rgb(30, 62, 98);
    color: gray;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px black;
  }
  .imagenResultados {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .imagenResultados img {
    display: flex;
    width: 300px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 5px black;
  }
  .imagenBackboard img {
    width: 600px;
    object-fit: contain;
  }
  .sectionSubtitulo h2 {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sectionSubtitulo p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .sectionHighlights h2 {
    display: flex;
    width: 30px;
    margin-bottom: 40px;
  }
  .Highlights iframe {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .partidosDestacados img {
    width: 350px;
    margin-left: 0px;
  }
  .partidosDestacados iframe {
    width: 350px;
    margin-left: 0px;
  }
  footer {
    margin-top: 200px;
    width: 600px;
    margin-left: 0px;
  }
  footer p {
    width: 100px;
  }
  footer p#elfinal {
    width: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
