@use "../utilities/variables" as v;
header{
    display: flex;
    background-color: v.$color-secundario;
    img{
        width: 100%;
        max-width: 2500px;
        height:90px ;
        object-fit: cover;
    }

    nav{
        width: 100%;
        max-width: 2500px;
        margin: 0;
        background-color:v.$color-secundario;

        ul{
            display: flex;
            gap: 1.25rem;
            li{
                a{
                    color: rgb(248, 252, 255);
                    justify-content: space-between;
                    align-items: center; 
                }
            }

        }
    }

}
