@media(max-width:768px){
    header{
        i{
            color: aliceblue;
        }
        nav .menu{
            width: 100%;
            overflow: hidden;
            height: 0;
        }
        nav label{
            display: inline-flex;
            cursor: pointer;
        }
        nav #toggle:checked ~ .menu{
            height: 100%;
        }

    }

.barraBusqueda li a{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
}

.Highlights h3 iframe{
    height: 300px;
    width: 500px;
    justify-content: start;
}
.Highlights{
    display: flex;
    flex-direction: column;
}

.barraBusquedaEquipos li a{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;

}

.barraBusquedaJugadores li a{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
}
.buscarJugadores{
    display: flex;
    justify-content: start;
    margin-left: 80px;
}

.jugadoresMvps{  /* + GRIDS */
    display: grid;
    width: 80%;
    grid-template-columns:300px 300px ;
    grid-template-rows: repeat(3,18.75rem);
    grid-template-areas: 
    
    "carta-Jugadores1 carta-Jugadores2"
    "carta-Jugadores3 carta-Jugadores4"
    "carta-Jugadores5 carta-Jugadores6"    
    ;
    column-gap: 200px;
    row-gap: 100px;
    margin-left: 30px;
}
.jalenBrunson img{
    height: 1px;
    width: 1px;
}
.barraBusquedaLigaArg li a{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
}

.noticias{
    display: flex;
    flex-direction: column;
}

.barraBusquedaResultados li a{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin: 0;
        padding: 10px;
        font-size: 18px;
        overflow: hidden;
    }
    .partidosDestacados{
        display: flex;
        flex-direction: column;
    }
    .Calendario article{
        margin-top: 20px;
        margin-left: 10px;
    }
    .Calendario input{
        background-color:gray;
        width: 100px;
        height: 40px;
    }
    .Calendario h3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 70px;
        background-color: rgb(30, 62, 98);
        color: gray;
        margin-bottom: 10px;
        box-shadow: 4px 4px 5px black;
    }
    .imagenResultados{
        display: flex;
        margin-left: 200px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    
    .imagenResultados img{
        display: flex;
        width: 390px;
        justify-content: center;
        margin-top: 30px;
        box-shadow:  4px 4px 4px 5px black;
    }
    
}