@media(max-width:425px){
        header{
            display: flex;
            width: 600px;
            i{
                color: aliceblue;
            }
            a{
                width: 0px;
                height: 0px;
            }
            img{
                width: 0px;
                height: 0px;
            }
            nav .menu{
                width: 100%;
                overflow: hidden;
                height: 0;
            }
            nav label{
                display: inline-flex;
                cursor: pointer;
            }
            nav #toggle:checked ~ .menu{
                height: 100%;
            }
        }

        .sectionTitulo{
            color: rgb(233, 237, 240);
            font-size: 20px;
            -webkit-text-stroke: 1px  rgb(255, 101, 0);
            background-color: black;
            font-family: "Passion One", serif
        }
        .tituloEquipos{
            font-size: 20px;
            color: rgb(248, 252, 255);
            -webkit-text-stroke: 1px  rgb(255, 101, 0);
            font-family: "Passion One", serif;
            
        }
        
        .tituloJugadores{
            font-size: 20px;
            color: rgb(247, 251, 255);
            -webkit-text-stroke: 1px rgb(255, 101, 0);
            height: 40px;
            font-family: "Passion One", serif;
        }
        
        .tituloArg{
            font-size: 20px;
            color: rgb(248, 252, 255);
            -webkit-text-stroke: 1px  rgb(255, 101, 0);
            font-family: "Passion One", serif;
        }
        
        .tituloResultados{
            font-size: 20px;
            color: rgb(248, 252, 255);
            -webkit-text-stroke: 1px  rgb(255, 101, 0);
            font-family: "Passion One", serif;
        }

        .barraBusqueda{
            width: 600px;
            li{
                a{
                    width: 60px;
                    gap: 5px;
                    margin-left: 1px;
                    font-size: 10px;
                    overflow: hidden;  
                }
            } 
        }
        .barraBusquedaJugadores{
            width: 600px;
            li{
                a{
                    width: 60px;
                    gap: 5px;
                    margin-left: 1px;
                    font-size: 10px;
                    overflow: hidden;
                }

            }
        }


            .jugadoresMvps{  /* + GRIDS */
                display: grid;
                width: 80%;
                grid-template-columns:300px;
                grid-template-rows: repeat(3,18.75rem);
                grid-template-areas: 
                
                "carta-Jugadores1" 
                "carta-Jugadores2"
                "carta-Jugadores3"
                "carta-Jugadores4"
                "carta-Jugadores5" 
                "carta-Jugadores6"    
                ;
                column-gap: 150px;
                margin-left: 70px;
            }
    
            .barraBusquedaEquipos{
                width: 600px;
                li{
                    a{
                        width: 48px;
                        gap: 9px;
                        margin-left: 1px;
                        font-size: 10px;
                        overflow: hidden;
                    }
                }
            }
            .buscarEquiposArg{
                display: flex;
                justify-content: start;
                font-size: 10px;
                margin-left: 0px;
            }

            .buscarEquipos{
                display: flex;
                justify-content: start;
                font-size: 10px;
            }
    
            .buscarJugadores{
                display: flex;
                justify-content: start;
                font-size: 10px;
                margin-left: 0px;
            }
            .imagenEquipos{
                img{
                    height: 400px;
                    width: 390px;
                    object-fit: contain;
                    margin-bottom: 35px;
                }

            }
            .barraBusquedaLigaArg{
                width: 600px;
                li{
                    a{
                        width: 48px;
                        gap: 9px;
                        margin-left: 1px;
                        font-size: 10px;
                        overflow: hidden;
                    }

                }
            }

            .noticias{
                iframe{
                    height: 150px;
                    width: 450px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

            }
            .barraBusquedaResultados{
                width: 600px;
                li{
                    a{
                        width: 48px;
                        gap: 9px;
                        margin-left: 1px;
                        font-size: 10px;
                        overflow: hidden;
                    }

                }
            }

        .Calendario{
            article{
                margin-top: 20px;
                margin-left: 20px;
                h3{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content:center;
                    align-items: center;
                    width: 300px;
                    height: 70px;
                    background-color: rgb(30, 62, 98);
                    color: gray;
                    margin-bottom: 10px;
                    box-shadow: 4px 4px 5px black;
                }
                input{
                    background-color:gray;
                    width: 100px;
                    height: 40px;
                }
            }

        }

        
        .imagenResultados{
            display: flex;
            margin-left: 10px;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            img{
                display: flex;
                width: 340px;
                justify-content: center;
                margin-top: 30px;
                box-shadow:  4px 4px 4px 5px black;
            }

        }
        .imagenBackboard{
            img{
                width: 600px;
                object-fit: contain;
            }

        }
    
        .sectionSubtitulo{
            h2{
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p{
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }

        }
        .sectionHighlights{
            h2{
                display: flex;
                width: 30px;
                margin-bottom: 40px;
            }

        } 
    
        .Highlights{
            display: flex;
            flex-direction: column;
            iframe{
                height: 150px;
                width: 300px;
                margin-top: 20px;
                margin-bottom: 20px;;
            }

        }

        .equiposLigaArg{
            margin-left: 10px;
            img{
                object-fit: contain;
                width: 400px;
                height: 600px;
                
            }
        }

        .partidosDestacados{
            img{
                width: 400px;
                margin-left: 10px;
            }
            iframe{
                width: 400px;
                margin-left: 10px;
            }
        }

    }


       




