@use "../utilities/mixins";
.barraBusqueda{

    @include mixins.barra();

    ul{

        @include mixins.barraUl();

        li {
            a{
                &:hover{
                    background-color: gray;
                }
            }
        }
    }

}

.barraBusquedaEquipos{
    @include mixins.barra();
    
    ul{
        @include mixins.barraUl();

        li {
            a{
                &:hover{
                    background-color: gray;
                }
            }
        }
    }


}
.barraBusquedaJugadores{

    @include mixins.barra();
    
    ul{

        @include mixins.barraUl();

        li {
            a{
                &:hover{
                    background-color: gray;
                }
            }
        }
    }

}

.barraBusquedaResultados{

    @include mixins.barra();
    
    ul{

        @include mixins.barraUl();

        li {
            a{
                &:hover{
                    background-color: gray;
                }
            }
        }
    }

}

.barraBusquedaLigaArg{

    @include mixins.barra();
    
    ul{

        @include mixins.barraUl();

        li {
            a{
                &:hover{
                    background-color: gray;
                }
            }
        }
    }

}


