.buscarJugadores{
    @include fecha;
    color:gray;
    margin-left: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

.buscarEquipos{
    @include fecha;
    color:gray;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    list-style: none;
}

.buscarEquiposArg{
    @include fecha;
    color:gray;
    justify-content: first baseline;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    list-style: none;
}