.imagenEquipos{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    img{
        &:hover{
            filter:drop-shadow(2px 2px 5px blue);
            transform: scale(1.1);
        }
        border-radius: none;

    }

}

.imagenResultados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;

    img{
        display: flex;
        width: 600px;
        justify-content: center;
        margin-top: 30px;
        box-shadow:  4px 4px 4px 5px black;

        &:hover{
            filter:drop-shadow(2px 2px 5px blue);
            transform: scale(1.1);
        }
    }

}

.partidosDestacados{
        img{
            display: flex;
            object-fit: contain;
            font-size: larger;
        
}
}

.equiposLigaArg{
    img{
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 900px;
        height: 900px;
        &:hover{
            filter:drop-shadow(2px 2px 5px blue);
            transform: scale(1.1);
        }
    }

}