.sectionTitulo{
    color: rgb(233, 237, 240);
    font-size: 40px;
    -webkit-text-stroke: 1px  rgb(255, 101, 0);
    background-color: black;
    font-family: "Passion One", serif
}

.tituloEquipos{
    font-size: 40px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px  rgb(255, 101, 0);
    font-family: "Passion One", serif;
    
}

.tituloJugadores{
    font-size: 40px;
    color: rgb(247, 251, 255);
    -webkit-text-stroke: 1px rgb(255, 101, 0);
    height: 40px;
    font-family: "Passion One", serif;
}

.tituloArg{
    font-size: 40px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px  rgb(255, 101, 0);
    font-family: "Passion One", serif;
}

.tituloResultados{
    font-size: 40px;
    color: rgb(248, 252, 255);
    -webkit-text-stroke: 1px  rgb(255, 101, 0);
    font-family: "Passion One", serif;
}